.exercise-list {
    padding: 20px;
    text-align: center;
  }
  
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .exercise-box {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .exercise-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .exercise-box h3 {
    margin-top: 10px;
  }
  
  .exercise-box p {
    font-size: 14px;
  }
  